@"
# Android / Gradle
.gradle/
**/build/
local.properties
.cxx/
.externalNativeBuild/
captures/

# IDE
*.iml
.idea/
.vscode/

# Artifacts
*.apk
*.ap_
*.aab

# Keystores (NO deben subirse)
*.jks
*.keystore

# Firebase/credenciales sensibles (NO subir serviceAccount)
**/serviceAccountKey*.json

# Logs, SO
*.log
.DS_Store
Thumbs.db
"@ | Set-Content -Encoding UTF8 .gitignore
